<div class="sidebar2">
    <a class="hov" href="https://leviathren.neocities.org/" target="_blank"><img src="/assets/img/leviathrenbutton.gif" /></a>
    <a class="hov" href="https://rainworldgame.com/" target="_blank"><img src="/assets/img/Rain_World_button.gif" /></a>
    <a class="hov" href="https://leviathren.neocities.org/" target="_blank"><img style="max-height: 31px; max-width: 88px" src="/assets/img/not-fd.svg" /></a>
    <a class="hov" href="https://leviathren.neocities.org/" target="_blank"><img src="/assets/img/New button.gif" /></a>
    <a class="hov" href="https://fauux.neocities.org/" target="_blank"><img src="/assets/img/fauux.gif" /></a>
    <a class="hov" href="https://leviathren.neocities.org/" target="_blank"><img src="/assets/img/neocities.gif" /></a>
</div>
<div class="sidebar2" style="margin-top: 15px; align-items: center;">
    <h2 style="font-size: 1.2rem;">Status</h2>
    <p style="font-size: 0.8rem;">Currently: Adding cool stuff to this blog!</p>
</div>
