<div class="sidebar2">
    <a class="hov" href="https://leviathren.neocities.org/" target="_blank"><img src="/src/cards/leviathrenbutton.gif" /></a>
    <a class="hov" href="https://rainworldgame.com/" target="_blank"><img src="/src/cards/Rain_World_button.gif" /></a>
    <a class="hov" href="https://leviathren.neocities.org/" target="_blank"><img style="max-height: 31px; max-width: 88px" src="/src/cards/not-fd.svg" /></a>
    <a class="hov" href="https://leviathren.neocities.org/" target="_blank"><img src="/src/cards/New button.gif" /></a>
    <a class="hov" href="https://fauux.neocities.org/" target="_blank"><img src="/src/cards/fauux.gif" /></a>
    <a class="hov" href="https://leviathren.neocities.org/" target="_blank"><img src="/src/cards/neocities.gif" /></a>
</div>
