@font-face
{
    font-family: 'catfont1';

    src: url('mifonts/Catways.ttf') format('truetype');
    font-display: swap;
}

@font-face
{
    font-family: 'catfont2';

    src: url('mifonts/Catways.otf') format('opentype');
    font-display: swap;
}

body
{
    font-family: catfont1;

    display: flex;

    height: 100vh;
    margin: 0;
    padding-top: 30px;

    text-align: center;
    background-image: url("mimagenes/seemlesscat.jpg");
    background-repeat: ;
/*     background: linear-gradient(to bottom, #fcf, #cff); */

    align-items: center;
    flex-direction: column;
}

h1
{
    font-family: catfont2;

    font-size: 3rem;
}

.card
{
    position: relative;

    background-image: url("mimagenes/seemlesscat.jpg");
    max-width: 800px;
    padding: 10px 20px;

    border: 4px solid #282828;
    border-radius: 10px;
    background: #e6d9a3;

    justify-content: center;
    align-items: flex-start;
    margin: 10px;

}
.masonry {
  column-count: 3; /* Number of columns */
  column-gap: 6px;
  padding: 0px;
}

.masonry img {
  width: 100%;
  margin-bottom: 6px;
  border-radius: 4px;
  display: block;
  break-inside: avoid;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cardholder{
	display: flex;

	text-align: center;

	align-items: center;
	flex-direction: column;
}

img{
	align-items: center;
  width: 50%;
  margin-bottom: 6px;
  border-radius: 4px;
  display: block;
  break-inside: avoid;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


